:root {
  // colors and styles
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: rgb(190, 190, 190);
  --bgColor: hsl(220, 10%, 94%);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  // Fonts and Typography
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.manageWorkersContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.manageSection {
  flex: 1;
  padding: 20px;
  background: var(--bgColor);
  overflow-y: auto;
  .secContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .singleItem {
      background: var(--whiteColor);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      &:hover {
        background: var(--itemCardHover);
        box-shadow: 0 2px 2px var(--inputColor);
      }
    }
  }
}

@media screen and (max-width: 918px) {
  .manageWorkersContainer {
    flex-direction: row;
  }
}

@media screen and (max-width: 490px) {
  .manageSection {
    .secContainer {
      flex-direction: column;
      .singleItem {
        width: 100%;
      }
    }
  }
}
